.controlPanel{
    margin: 0 auto;
    width: 77vw;
    height: 67vh;
    background-color: #092635;
    padding: 1em;
}

.latestCard {
    font-size: 1.5em;
    text-align: left;
}

.controlPanelDescription {
    text-align: left;
}

.controlPanelButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 52vh;
}

.controlPanelDoubleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 67vw;
    /* outline: 1px solid #ce1e1e; */
}

.controlPanelDoubleButton > * {
    min-width: 265px;
}

.controlPanelButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlPanelButtonContainerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 180px;
}

.controlPanelButtonContainerForm input {
    border-radius: 5px;
}

.controlPanelDoubleButton button {
    background-color: #17a2b8 !important;
    height: 8vh;
    margin: 0.35em;
}
.controlPanelDoubleButton button:hover {
    background-color: #12889acf !important;
}