.controlPanel{
    margin: 0 auto;
    width: 77vw;
    min-height: 67vh;
    background-color: #092635;
    padding: 1em;
    margin-bottom: 0.5em;
}

.latestCard {
    font-size: 1.5em;
    text-align: left;
}

.controlPanelDescription {
    text-align: left;
}

.controlPanelButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 52vh;
    gap: 0.5em;
}

.controlPanelDoubleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 67vw;
    /* outline: 1px solid #ce1e1e; */
}

.controlPanelDoubleButton > * {
    min-width: 265px;
}

.controlPanelButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlPanelButtonContainerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 180px;
}

.controlPanelButtonContainerForm input, .controlPanelButton input {
    border-radius: 5px;
}

.controlPanelDoubleButton button, .controlPanelButton button, .XMLSelector button, .XMLReader button {
    background-color: #17a2b8 !important;
    height: 8vh;
    margin: 0.35em;
}
.controlPanelDoubleButton button:hover, .controlPanelButton button:hover, .XMLReader button:hover, .XMLSelector button:hover {
    background-color: #12889acf !important;
}

.controlPanelButton {
    display: flex;
    flex-direction: column;
}

.XMLEditor {
    display: flex;
    flex-direction: column;
    width: 68vw;
}
.XMLEditor > h1 {
    text-align: left;
    margin-left: 4.2em;
    margin-bottom: 0.5em;
    color: #efefef;
}

.XMLSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}
.XMLSelector select {
    flex-basis: 40%;
    text-align: center;
}
.XMLSelector button {
    flex-basis: 20%;
}  

.XMLReader {
    margin: 0.5em auto;
    border-radius: 0.5em;
    max-width: 60vw;
}
.XMLReader textarea {
    padding: 0.75em;
    padding-bottom: 1em;
    max-width: 60vw;
    outline: none;
}

.MSGControlButtons {
    background-color: #7A797E;
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1em;
    position: relative;
    top: -1px;
}
.MSGControlButtons button {
    background-color: rgb(11, 83, 95) !important;
}
.MSGControlButtons button:hover {
    background-color: rgb(7, 57, 66) !important;
}