.navContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    background-color: #f9f9f9;   
}

.navbar svg {
    display: inline;
    margin-right: 5px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.navButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}