.testCasesContainer {
    position: relative;
    min-height: 78vh;    
    background-color: #393e46;
    border-radius: 5px;
}

.hideScrollBar {
    overflow: hidden;
}

.testCaseFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.45em;
    margin-left: 1em;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .testCasesTable td{
    max-width:100%;
    white-space:nowrap;
} */

.testCaseButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    gap: 0.15em;
}

.lightColor {
    filter: invert(84%) sepia(6%) saturate(128%) hue-rotate(175deg) brightness(107%) contrast(94%);;
}

.loaderSpinner {
    position: fixed;
    top: 32%;
    left: 45%;
    z-index: 2;
}

.loaderSpinner > svg {
    min-height: 300px;
    min-width: 380px;
}