.testCasesContainer {
    min-height: 78vh;    
    background-color: #393e46;
    border-radius: 5px;
}

.testCaseFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.45em;
    margin-left: 1em;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}