.viewTestCaseContainer {
    position: fixed;
    left: 17.5%;
    bottom: 0;
    z-index: 2;
    background-color: #2e333c;
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    font-size: 1.25em;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black overlay */
    z-index: 1;
    /* Overlay sits above the background */
}

.testCaseTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 0.4em;
    background-color: #295393;
}

.testCaseDetailsTable {
    max-width: 90%;
}

.testCaseDetailsTable th {
    background-color: #295393 !important;
}

.errorsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
    background-color: #721c24;
    color: #f5c6cb;
    border-radius: 0.5em;
}

.errorsContainer div {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 27vw;
    white-space: nowrap;
    overflow-x: scroll;
}

.errorsContainer div:not(:last-child) {
    border-right: 1px solid #cb3544;
}

.testCaseDetailsInfoREADY {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.25em;
    width: 90%;
    height: minmax(70px, 100%);
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 0.25em;
    background-color: #295393 !important;
}

.testCaseDetailsInfoPASSED {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
}

.testCaseDetailsInfoPASSED > * {
    max-width: 33%;
    margin-bottom: 0.5em;
}

.reqresTitleContainer {
    background-color: #295393 !important;
    border-radius: 0.5em;
    margin-bottom: 10px;
}

.testCaseDetailsInfoPASSED pre {
    min-height: 314px;
    max-width: 330px;
    overflow-x: scroll;
    overflow-y: auto;
    text-align: start;
}

.expectedResponse {
    color: rgb(93, 208, 254);
}

.testCaseDetailsInfoFAILED {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
}

.testCaseDetailsInfoFAILED > * {
    max-width: 33%;
    margin-bottom: 0.5em;
}

.testCaseDetailsInfoFAILED pre {
    min-height: 314px;
    max-height: 314px;
    max-width: 330px;
    overflow-x: scroll;
    overflow-y: auto;
    text-align: start;
    font-size: 0.75em;
}