.webServicesFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.45em;
    margin-left: 1em;
}

table {
    width: 77vw;
    margin: 10px auto;

    border: 2px solid rgb(140 140 140);
    border-collapse: collapse;
}

