.webServicesFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.45em;
    margin-left: 1em;
}

.pagingControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}