.webServicesFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.45em;
    margin-left: 1em;
}

.pagingControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25em;

    padding-bottom: 0.5em;
}

.reloadIcon{
    filter: invert(84%) sepia(6%) saturate(128%) hue-rotate(175deg) brightness(107%) contrast(94%);;
}